@import "src/variables";
@import "~le5le-ui/variables";
@import "src/variables";
@import "~le5le-ui/variables";

.search {
  position: relative;
  border-bottom: 1px solid $color-border;

  .input {
    max-width: 100%;
    border: none;
    padding-left: 0.05rem;
    padding-right: 0.25rem;
  }

  i {
    position: absolute;
    right: 0.05rem;
    cursor: pointer;
  }
}

.nav-tab {
  & > .item {
    margin: 0 0.1rem;
    line-height: 0.32rem;
    cursor: pointer;
  }
}
