<div>
  <div class="nav nav-tab big pt5">
    <div class="item mh15">
      <a routerLink="/user/home">我的图文</a>
    </div>
    <div class="item mh15">
      <a routerLink="/user/home" [queryParams]="{component: 1}">我的组件</a>
    </div>
    <div class="item mh15 active">
      <a routerLink="/user/favorite">我的收藏</a>
    </div>
  </div>
  <div *ngIf="!loading">
    <div class="topos col-4 p15">
      <div class="topo" *ngFor="let item of data.list" [title]="item.desc" (click)="onOpen(item)">
        <div class="image">
          <img [appImgAuthSrc]="item.image" />
        </div>
        <div class="ph15 pv10">
          <i class="iconfont icon-delete hover" (click)="onFavorite($event,item)" title="取消收藏"></i>
          <div class="title line one" [title]="item.name">{{ item.name }}</div>
          <div class="flex mt5">
            <div class="full">
              <i class="iconfont icon-user"></i>
              {{ item.username }}
            </div>
            <div>
              <span class="ml15" title="浏览次数">
                <i class="iconfont icon-attention"></i>
                <span class="ml5">{{ item.view || 0 }}</span>
              </span>
              <span class="ml15" title="收藏人数">
                <i class="iconfont icon-like"></i>
                <span class="ml5">{{ item.star || 0 }}</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ph15 mb20" *ngIf="data.count">
      <ui-pagination [(pageIndex)]="search.pageIndex" [(pageCount)]="search.pageCount" [pageTotal]="data.count"
        [options]="{ pageCount: false }"></ui-pagination>
    </div>

    <div *ngIf="!data.count" class="text-center gray mt50">
      您还没有任何收藏！
      <a class="hover" routerLink="/search">去热门图文看看</a>
    </div>
  </div>
  <ui-loading *ngIf="loading" class="mt50" tip="正在加载，请稍等..."></ui-loading>
</div>
