<div class="menus" [class.white]="theme" [class.clicked]="menuClicked" (click)="onClickMenu($event)">
  <div class="item logo">
    <a routerLink="/">
      <img class="mr5" src="/assets/img/favicon.ico" />
      Le5le Topology
    </a>
  </div>
  <div class="item">
    <a routerLink="/workspace">
      <span class="btn">开始设计</span>
    </a>
  </div>
  <div class="item">
    <a routerLink="/search">
      解决方案
    </a>
  </div>
  <div class="item">
    <a href="https://www.yuque.com/alsmile/topology/use" target="_blank">
      入门教程
    </a>
  </div>
  <div class="item">
    <a href="https://www.yuque.com/alsmile/topology/aboutus" target="_blank">
      服务与支持
    </a>
  </div>

  <div class="item search">
    <input class="input" [(ngModel)]="search" placeholder="搜索" (keyup.enter)="onSearch()" />
    <i class="iconfont icon-search" (click)="onSearch()"></i>
  </div>

  <div class="full"></div>

  <app-user [transparent]="!theme"></app-user>
</div>
