<div class="title">项目设置</div>
<div class="ph15 pv10">

  <div class="flex middle mb10">
    <label>文件类型：</label>
    <span class="label" style="background-color: #f3f3f3;">{{data.component? '组件' : '图文'}}</span>
  </div>

  <div class="flex middle mb10">
    <label>文件名称：</label>
    <div class="full pr10">
      <input class="input" style="width:1.5rem" [(ngModel)]="data.name">
    </div>
  </div>

  <div *ngIf="canvas && !data.component">
    <div class="flex middle mb10 input-line">
      <label>背景颜色：</label>
      <div class="input color" [class.readonly]="canvas.data.locked">
        <i [(colorPicker)]="canvas.data.bkColor" [style.background]="canvas.data.bkColor" cpPosition="bottom"
          cpAlphaChannel="always" cpOutputFormat="hex" [cpPresetColors]="cpPresetColors"
          (colorPickerChange)="canvas.render()"></i>
        <input [(ngModel)]="canvas.data.bkColor" [readonly]="canvas.data.locked" (change)="canvas.render()" />
      </div>
    </div>

    <div class="flex middle mb10 input-line">
      <label>背景图片：</label>
      <div class="pointer icon" (click)="show.imageDlg = true">
        <img *ngIf="canvas.data.bkImage" [src]="canvas.data.bkImage" style="height: .3rem" />
        <div *ngIf="!canvas.data.bkImage" class="image-upload">
          <i class="iconfont icon-add inline"></i>
        </div>
      </div>
    </div>
    <div *ngIf="show.imageDlg" class="tools">
      <div class="title flex">
        <label class="full">选择图片</label>
        <a (click)="show.imageDlg=false">返回</a>
      </div>
      <app-user-images class="block p10" [(image)]="canvas.data.bkImage" (imageChange)="onChangeBkImage()"
        style="height: calc(100% - .4rem);overflow: auto;">
      </app-user-images>
    </div>
  </div>

  <div *ngIf="canvas" class="flex middle mb10">
    <label>背景网格：</label>
    <div (click)="onGrid()">
      <ui-switch class="inline ml5" [(checked)]="canvas.data.grid" (change)="onGrid()"></ui-switch>
    </div>
  </div>
</div>

<div class="title mt10">布局</div>
<div class="ph15 pv5">
  <i class="iconfont icon-tiled hover pointer" title="自动布局"></i>
</div>


<div class="abs" style="bottom:0">
  <div class="title mt30">
    小提示
  </div>
  <ul class="ml30 mb20 mt10">
    <li>方向键：控制节点移动5个像素</li>
    <li>Ctrl + 方向键：控制节点移动1个像素</li>
    <li>Ctrl + 鼠标移动：移动整个画布</li>
    <li>Ctrl + 鼠标滚轮：缩放</li>
    <li>添加或选中节点，右侧属性支持上传各种图片哦</li>
  </ul>
</div>
