<div>
  <div class="nav nav-tab big pt5">
    <div class="item mh15" [class.active]="!search.component">
      <a routerLink="/user/home">我的图文</a>
    </div>
    <div class="item mh15" [class.active]="search.component">
      <a routerLink="/user/home" [queryParams]="{component: 1}">我的组件</a>
    </div>
    <div class="item mh15">
      <a routerLink="/user/favorite">我的收藏</a>
    </div>
  </div>
  <div *ngIf="!loading">
    <div class="topos col-4 p15">
      <div class="topo" *ngFor="let item of data.list">
        <div class="image" (click)="onOpen(item)">
          <img [appImgAuthSrc]="item.image" />
        </div>
        <div class="ph15 pv10">
          <i class="iconfont icon-delete hover" (click)="onDel(item)" title="删除"></i>
          <div class="title line one" [title]="item.name" (click)="onOpen(item)">{{ item.name }}</div>
          <div class="flex mt5">
            <div class="full line one" [title]="
                '更新时间：' +
                (item.updatedAt | date: 'yyyy-MM-dd HH:mm:ss') +
                '\n创建时间：' +
                (item.createdAt | date: 'yyyy-MM-dd HH:mm:ss')
              ">
              <i class="iconfont icon-clock"></i>
              {{ item.updatedAt | date: 'yyyy-MM-dd' }}
            </div>
            <span class="ml15" title="浏览次数">
              <i class="iconfont icon-attention"></i>
              <span class="ml5">{{ item.view || 0 }}</span>
            </span>
            <a class="ml15" routerLink="/user/history"
              [queryParams]="{ id: item.id, name: item.name, component: search.component }">
              历史
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="ph15 mb20" *ngIf="data.count">
      <ui-pagination [(pageIndex)]="search.pageIndex" [(pageCount)]="search.pageCount" [pageTotal]="data.count"
        [options]="{ pageCount: false }"></ui-pagination>
    </div>

    <div *ngIf="!data.count" class="text-center gray mt50">
      您还没有任何文件！
      <a class="hover" routerLink="/workspace">开始创建我的图文</a>
    </div>
  </div>
  <ui-loading *ngIf="loading" class="mt50" tip="正在加载，请稍等..."></ui-loading>
</div>
