<div class="page">
  <div class="menus" [class.clicked]="menuClicked" (click)="onClickMenu($event)">
    <div class="item pointer" (click)="onHome()">
      <img src="/assets/img/favicon.ico" />
    </div>
    <div class="item">
      <a>
        文件
      </a>
      <div class="dropdown">
        <div class="item">
          <a (click)="onMenu('new')">
            新建文件
          </a>
        </div>
        <div class="item">
          <a (click)="onMenu('open')">
            打开本地Json文件（新建）
            <span class="ml50">Ctrl + O</span>
          </a>
        </div>
        <div class="item">
          <a (click)="onMenu('open', true)">
            导入Json文件到当前画布
            <span class="ml50">Ctrl + I</span>
          </a>
        </div>
        <div class="item" [class.disabled]="!user" title="上传文件需要登录">
          <a (click)="onMenu('openZip')">
            导入Zip文件（新建）
            <span class="ml50">Ctrl + Shift + I</span>
          </a>
        </div>
        <div class="item" (mouseenter)="showFigure = true" (mouseleave)="onLeaveFigure()">
          <a>
            打开最近的文件
            <i class="iconfont icon-angle-right"></i>
          </a>
          <div class="dropdown pt15" [class.block]="showFigure">
            <figure>
              <div *ngIf="list.recently.length" class="mb20">
                <div class="flex wrap">
                  <a class="topo" *ngFor="let item of list.recently;let i=index" [title]="item.name"
                    routerLink="/workspace" [queryParams]="{ id: item.id, version: item.version }">
                    <img [appImgAuthSrc]="item.image" />
                    <i class="iconfont icon-delete" (click)="onRemoveRecently($event, i)"></i>
                  </a>
                </div>
              </div>
            </figure>
          </div>
        </div>
        <div class="item line"></div>
        <div [class.disabled]="!workspace">
          <div class="item">
            <a (click)="onMenu('save')">
              保存到云端
              <span class="ml50">Ctrl + S</span>
            </a>
          </div>
          <div class="item">
            <a (click)="onMenu('saveAs')">
              另存为...（在云端）
              <span class="ml50">Ctrl + Shift+ S</span>
            </a>
          </div>
          <div class="item">
            <a (click)="onMenu('down')">
              保存到本地
              <span class="ml50">Ctrl + Atl+ S</span>
            </a>
          </div>
          <div class="item line"></div>
          <div class="item">
            <a (click)="onMenu('downPng')">
              下载为PNG
            </a>
          </div>
          <div class="item">
            <a (click)="onMenu('downSvg')">
              下载为SVG
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <a>编辑</a>
      <div class="dropdown" [class.disabled]="!workspace">
        <div class="item">
          <a (click)="onMenu('undo')">
            撤消
            <span class="ml50">Ctrl + Z</span>
          </a>
        </div>
        <div class="item">
          <a (click)="onMenu('redo')">
            恢复
            <span class="ml50">Ctrl + Shift+ Z</span>
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a (click)="onMenu('cut')">
            剪切
            <span class="ml50">Ctrl + X</span>
          </a>
        </div>
        <div class="item">
          <a (click)="onMenu('copy')">
            复制
            <span class="ml50">Ctrl + C</span>
          </a>
        </div>
        <div class="item">
          <a (click)="onMenu('parse')">
            粘贴
            <span class="ml50">Ctrl + V</span>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <a>查看</a>
      <div class="dropdown">
        <div class="item">
          <a (click)="onHome()">
            大家分享的图文
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a href="http://le5le.com" target="_blank">
            乐吾乐
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <a>社区</a>
      <div class="dropdown">
        <div class="item">
          <a (click)="showAbout = true" target="_blank">
            咨询与建议
          </a>
        </div>
        <div class="item">
          <a href="https://github.com/le5le-com/topology" target="_blank">
            开源GitHub
          </a>
        </div>
        <div class="item">
          <a href="https://www.yuque.com/alsmile/topology" target="_blank">
            开发文档
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a href="https://www.yuque.com/alsmile/topology/use" target="_blank">
            入门教程
          </a>
        </div>
        <div class="item">
          <a href="http://topology.le5le.com/assets/img/topology_wechat2.jpg" target="_blank">
            微信交流群
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <a>帮助</a>
      <div class="dropdown">
        <div class="item">
          <a href="http://le5le.com/app/topology" target="_blank">
            产品介绍
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a (click)="showLicense = true">
            许可与声明
          </a>
        </div>
        <div class="item">
          <a (click)="showHelp = true">
            资助与加入
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a (click)="showAbout = true">
            关于
          </a>
        </div>
      </div>
    </div>
    <div class="full"></div>
    <!-- <div class="flex">
      <div class="item mh5">
        <a>
          <i class="iconfont icon-notice"></i>
        </a>
      </div>
    </div> -->
    <div class="flex pr20" *ngIf="!user">
      <div class="item">
        <a (click)="onSignup()">注册</a>
      </div>
      <div class="gray">/</div>
      <div class="item">
        <a (click)="onLogin()">登录</a>
      </div>
    </div>
    <div class="flex ph20" *ngIf="user">
      <div class="item">
        <a [href]="urls.account" class="flex middle">
          <ui-avatar class="mr5" [letters]="user.usernamePinyin" [img]="user.avatarUrl" [colors]="['#ff4d4f']">
          </ui-avatar>
          {{ user.username }}
          <i class="iconfont icon-angle-down"></i>
        </a>
        <div class="dropdown right">
          <div class="item">
            <a [href]="urls.account" target="_blank">个人中心</a>
          </div>
          <div class="item line"></div>
          <div class="item"><a routerLink="/user/home">我的文件</a></div>
          <div class="item"><a routerLink="/user/favorite">我的收藏</a></div>
          <div class="item line"></div>
          <div class="item"><a (click)="onSignout()">退出</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>

<img src="/assets/img/logo.png" hidden="hidden" />

<div class="modal" *ngIf="showLicense">
  <div class="modal-content">
    <div class="modal-header pointer" uiDivMove [isHead]="true">
      <div class="caption">许可与声明</div>
      <i class="fr iconfont icon-close" (click)="showLicense = null"></i>
    </div>
    <div class="modal-body">
      <p>本项目开源，支持MIT协议。希望大家一起参与维护！</p>
      <p>所有权和解释权归le5le.com和开发者Alsmile所有！</p>
      <p>@2019 le5le.com</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="button" (click)="showLicense = null">
        确定
      </button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="showHelp">
  <div class="modal-content">
    <div class="modal-header pointer" uiDivMove [isHead]="true">
      <div class="caption">资助与加入</div>
      <i class="fr iconfont icon-close" (click)="showHelp = null"></i>
    </div>
    <div class="modal-body">
      <li>
        我们致力于打造一个友好的图文编辑器，和一个轻松创造、创建、共享的开放平台。这离不开大家的支持！
      </li>
      <li>
        欢迎大家一起参与编辑、创建和贡献，共建一个图文丰富的开放平台！
      </li>
      <li>
        如果您有好的想法、建议，或参与开发，或合作，请联系：
        <div class="ml30">邮箱：alsmile123@qq.com</div>
        <div class="ml30">微信：alsmile123</div>
      </li>
      <li>
        同时，我们也希望有收入支持做更好的产品。比如，购买云服务器，才能有更多人访问：
      </li>
      <div class="text-center mt10">
        <img class="mt5" src="/assets/img/wechatPay.png" width="120" />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="button" (click)="showHelp = null">
        确定
      </button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="showAbout">
  <div class="modal-content">
    <div class="modal-header pointer" uiDivMove [isHead]="true">
      <div class="caption">关于</div>
      <i class="fr iconfont icon-close" (click)="showAbout = null"></i>
    </div>
    <div class="modal-body">
      <li>
        这是一个集流程图、架构图、拓扑图、SCADA、UML图、脑图等多种图文于一体的编辑工具和共享社区。
      </li>
      <li>
        我们致力于打造一个友好的图文编辑器，和一个轻松创造、创建、共享的开放平台！
      </li>
      <li>
        这里有我们和大家一起贡献的丰富资源，也欢迎和期待您的加入！
      </li>
      <p class="mt10">欢迎请联系我们，提出您宝贵的想法和珍贵的建议：</p>
      <p>邮箱：alsmile123@qq.com</p>
      <p>微信：alsmile123</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="button" (click)="showAbout = null">
        确定
      </button>
    </div>
  </div>
</div>
