<div class="p15">
  <div class="flex">
    <a class="flex middle" (click)="onBack()" style="text-decoration: none;">
      <i class="iconfont icon-angle-left"></i>
      返回
    </a>
    <div class="full text-center title">
      <label>{{ name }}的历史记录</label>
    </div>
  </div>
  <div *ngIf="!loading" class="mt10">
    <table>
      <tr>
        <th>缩略图</th>
        <th>文件名</th>
        <th>备注（双击修改）</th>
        <th>时间</th>
        <th>操作</th>
      </tr>
      <tr *ngFor="let item of data.list">
        <td class="text-center">
          <a routerLink="/workspace" [queryParams]="{ id: item.src, version: item.id}">
            <img [appImgAuthSrc]="item.image" />
          </a>
        </td>
        <td>
          {{ item.name }}
        </td>
        <td width="200">
          <div class="pre" *ngIf="!item.edited" (dblclick)="onEditDesc($event, item)">{{ item.desc }}</div>
          <textarea *ngIf="item.edited" class="input" rows="4" [(ngModel)]="desc" (change)="onSubmitDesc()"></textarea>
        </td>
        <td>{{ item.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
        <td width="80">
          <a class="mr15" (click)="onDel(item)">
            删除
          </a>
        </td>
      </tr>
      <tr *ngIf="!data.count">
        <td class="gray text-center" colspan="10">
          暂无历史记录，第二次保存时才有历史记录。
          <a routerLink="/workspace" [queryParams]="{ id: search.id }">去编辑</a>
        </td>
      </tr>
    </table>
  </div>
  <ui-loading *ngIf="loading" class="mt50" tip="正在加载，请稍等..."></ui-loading>

  <div *ngIf="!isVip" class="text-center gray mt50">
    <div class="inline text-left">
      <div>
        由于云服务器资源有限，文件历史记录仅对VIP开放！
        <a class="hover" (click)="showVip = true">开通VIP</a>
      </div>
    </div>
  </div>
</div>

<div class="modal" *ngIf="showVip">
  <div class="modal-content">
    <div class="modal-header pointer" uiDivMove [isHead]="true">
      <div class="caption">开通VIP</div>
      <i class="fr iconfont icon-close" (click)="showVip = null"></i>
    </div>
    <div class="modal-body">
      <p>
        感谢您的支持，目前属于推广试用阶段，请联系：
      </p>
      <p>邮箱：alsmile123@qq.com</p>
      <p>微信：alsmile123</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="button" (click)="showVip = null">确定</button>
    </div>
  </div>
</div>
