@import "src/variables";
@import "~le5le-ui/variables";

.gray {
  color: #aaa;
}

td {
  img {
    height: 1rem;
  }
}

textarea {
  &.input {
    min-width: 0.3rem;
    width: 100%;
    max-width: 100%;
    padding: 0.02rem 0.05rem;
    resize: vertical;
  }
}

table {
  border: none;

  th {
    background-color: #fafafa;
  }
}
