<header class="header">
  <app-header class="section" theme="white"></app-header>
</header>
<div class="user-panel">
  <div class="flex section mt30" *ngIf="user">
    <div class="menus mr20">
      <div class="panel p30">
        <div class="text-center">
          <div class="avatar">
            <img src="/assets/img/people.png">
          </div>
          <div class="user">{{user.username}}</div>
          <div>
            <a class="button ph20" [href]="urls.account" target="_blank">账号设置</a>
          </div>
        </div>
        <div class="mt20 pt15 border-top">
          <div>创建图文：{{statistics.topology}}</div>
          <div>创建组件：{{statistics.component}}</div>
          <div>收藏图文：{{statistics.star}}</div>
        </div>
        <div class="mt20 pt15 border-top">
          <div class="title">团队</div>
          <div>通过团队，与他人一起进行创作</div>
          <div class="gray">下个版本更新，敬请期待</div>
        </div>
      </div>
      <div class="mt20">加入时间：{{user.createdAt | date: 'yyyy-MM-dd'}}</div>
      <div class="mt10">
        <a class="text" href="https://www.yuque.com/alsmile/topology/installation" target="_blank">开发教程</a>
      </div>
      <div class="mt5">
        <a class="text" href="https://www.yuque.com/alsmile/topology/faq" target="_blank">常见问题</a>
      </div>
      <div class="mt5">
        <a class="text" href="https://www.yuque.com/alsmile/topology/aboutus" target="_blank">关于我们</a>
      </div>
    </div>
    <div class="full panel">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
