<header>
  <div>
    <div class="header">
      <app-header class="section" theme="white"></app-header>
    </div>
    <div class="classes">
      <div class="section">
        <a routerLink="." [queryParams]="{q: search.q}" [class.active]="!search.c">全部</a>
        <a *ngFor="let item of classes" routerLink="." [queryParams]="{q: search.q, c: item.name}"
          [class.active]="search.c === item.name">
          {{item.name}}
        </a>
      </div>
    </div>
  </div>
</header>
<div class="topo-panel">
  <section class="section">
    <ui-loading *ngIf="data.count < 0" class="mt50" tip="正在加载中，请稍等..."></ui-loading>
    <div *ngIf="data.list.length < 1" class="pb10" style="color: #777;">
      没有查询到符合条件的图文，
      <a routerLink="/workspace" [queryParams]="{c: search.c}">我来创建</a>
    </div>
    <div class="topos" *ngIf="data.list">
      <article class="topo" *ngFor="let item of data.list" (click)="onOpen(item)">
        <div class="image">
          <img [src]="item.image" />
        </div>
        <div class="desc">
          <header class="line one" [title]="item.name">{{ item.name }}</header>
          <div class="gray">{{item.username}}</div>
        </div>
        <div class="flex border-top">
          <div class="full" title="分类">
            <i class="iconfont icon-tag mr5"></i>
            <span *ngIf="item.class">{{ item.class}}</span>
            <span *ngIf="!item.class" class="gray">默认</span>
          </div>
          <div>
            <span class="hover pointer mr15" title="赞" (click)="onStar($event, item)">
              <i class="iconfont icon-like" [class.primary]="stars[item.id]"></i>
              <span class="ml5">{{ item.star || 0 }}</span>
            </span>
            <span title="浏览">
              <i class="iconfont icon-attention"></i>
              <span class="ml5">{{ item.view || 0 }}</span>
            </span>
          </div>
        </div>
      </article>

      <div *ngIf="data.list.length" class="topo flex middle add" (click)="onAdd()">
        <div class="text-center full primary">
          + 我来创建
        </div>
      </div>
    </div>

    <div *ngIf="data.list.length < 10">
      <div class="line-bar">
        <div></div>
        <span class="ph5">精选推荐</span>
        <div></div>
      </div>

      <div class="topos mt20" *ngIf="hots.length">
        <article class="topo" *ngFor="let item of hots" (click)="onOpen(item)">
          <div class="image">
            <img [src]="item.image" />
          </div>
          <header class="line one" [title]="item.name">{{ item.name }}</header>
          <div class="flex border-top">
            <div class="full" title="分类">
              <i class="iconfont icon-tag mr5"></i>
              <span *ngIf="item.class">{{ item.class}}</span>
              <span *ngIf="!item.class" class="gray">默认</span>
            </div>
            <div>
              <span class="hover pointer mr15" title="赞" (click)="onStar($event, item)">
                <i class="iconfont " [class.icon-like]="!item.stared" [class.icon-likefill]="item.stared"></i>
                <span class="ml5">{{ item.star || 0 }}</span>
              </span>
              <span title="浏览">
                <i class="iconfont icon-attention"></i>
                <span class="ml5">{{ item.view || 0 }}</span>
              </span>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
