<div class="search">
  <input class="input" [(ngModel)]="search.text" placeholder="搜索" (keyup.enter)="onSearch(1)" />
  <i class="iconfont icon-search" (click)="onSearch(1)"></i>
</div>
<div class="section bars mt15" *ngIf="!searched">
  <article *ngFor="let item of configs.bars;let i=index" [class.active]="curBar === i" [ngStyle]="item.styles"
    (mouseenter)="onMouseEnter()" (mouseout)="onMouseOut()">
    <header>{{item.title}}</header>
    <p>{{item.desc}}</p>
    <a class="button" *ngIf="item.url" [href]="item.url" target="_blank">{{item.button}}</a>
    <a class="button" *ngIf="item.router" [routerLink]="item.router">{{item.button}}</a>
    <img *ngIf="item.image" [src]="item.image" />
  </article>
  <div class="dots flex center">
    <i *ngFor="let item of configs.bars;let i=index" [class.active]="curBar === i" (mouseenter)="curBar = i"></i>
  </div>
</div>
<div class="section">
  <div class="nav">
    <label [class.active]="!search.class" (click)="onSearch(1, '')">全部</label>
    <label *ngFor="let item of configs.classes" [class.active]="search.class===item"
      (click)="onSearch(1, item)">{{item}}</label>
  </div>
</div>
<div class="section">
  <ui-loading *ngIf="data.count < 0" class="mt50" tip="正在加载中，请稍等..."></ui-loading>

  <div class="topos" *ngIf="data.list">
    <article class="topo" *ngFor="let item of data.list" [title]="item.desc" (click)="onOpen(item)" [title]="item.desc">
      <div class="image">
        <img [src]="item.image" />
      </div>
      <div class="ph15 pv10">
        <header class="title line one" [title]="item.name">{{ item.name }}</header>
        <div class="flex footer">
          <div class="full">
            {{ item.username }}
          </div>
          <div>
            <span class="hover pointer mr15" title="赞" (click)="onStar($event, item)">
              <i class="iconfont " [class.icon-appreciate]="!item.stared" [class.icon-appreciatefill]="item.stared"></i>
              <span class="ml5">{{ item.star || 0 }}</span>
            </span>
            <span class="hover pointer" title="收藏" (click)="onFavorite($event, item)">
              <i class="iconfont" [class.icon-like]="!item.favorited" [class.icon-likefill]="item.favorited"></i>
              <span class="ml5">{{ item.hot || 0 }}</span>
            </span>
          </div>
        </div>
      </div>
    </article>
  </div>

  <div *ngIf="!data.list.length && hots.list">
    <div>没有查找到相关图文，下面是我们为您推荐的图文：</div>
    <div class="topos mt10">
      <article class="topo" *ngFor="let item of hots.list" [title]="item.desc" (click)="onOpen(item)"
        [title]="item.desc">
        <div class="image">
          <img [src]="item.image" />
        </div>
        <div class="ph15 pv10">
          <header class="title line one" [title]="item.name">{{ item.name }}</header>
          <div class="flex footer">
            <div class="full">
              {{ item.username }}
            </div>
            <div>
              <span class="hover pointer mr15" title="赞" (click)="onStar($event, item)">
                <i class="iconfont " [class.icon-appreciate]="!item.stared"
                  [class.icon-appreciatefill]="item.stared"></i>
                <span class="ml5">{{ item.star || 0 }}</span>
              </span>
              <span class="hover pointer" title="收藏" (click)="onFavorite($event, item)">
                <i class="iconfont" [class.icon-like]="!item.favorited" [class.icon-likefill]="item.favorited"></i>
                <span class="ml5">{{ item.hot || 0 }}</span>
              </span>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
