@import "src/variables";
@import "~le5le-ui/variables";

$color-border: #ddd;
$tools-width: 1.65rem;
$props-width: 2.4rem;

:host {
  display: block;
  width: 100%;

  height: 100%;

  & > .flex {
    height: 100%;
  }
}

.tools {
  flex-shrink: 0;
  width: $tools-width;
  background-color: #f8f8f8;
  border-right: 1px solid $color-border;
  overflow-y: auto;

  .title {
    padding: 0.05rem 0.1rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    &:first-child {
      border-top: none;
    }
  }

  .buttons {
    padding: 0.1rem 0;
    a {
      display: inline-block;
      color: $color;
      line-height: 1;
      width: 0.4rem;
      height: 0.4rem;
      text-align: center;
      text-decoration: none !important;

      .iconfont {
        font-size: 0.24rem;
      }
    }
  }
}

.full {
  flex: 1;
  width: initial;
  position: relative;
  overflow: auto;
  background: #fff;

  & > .flex {
    position: fixed;
    background: transparent;
    top: $head-height;
    left: $tools-width;
    right: $props-width;

    div {
      background: transparent;
    }

    .icon-edit {
      font-size: 0.12rem;
      margin-left: 0.05rem;
      cursor: pointer;
      &:hover {
        color: $color-primary;
      }
    }
  }
}

.props {
  flex-shrink: 0;
  width: $props-width;
  background-color: #f8f8f8;
  border-left: 1px solid $color-border;
  overflow-y: auto;
  position: relative;

  .title,
  .popup-title {
    padding: 0.05rem 0.15rem;
    border-bottom: 1px solid #ccc;
    display: flex;
  }
}
